# Ignore Python virtual environment
.venv/
__pycache__/

# Ignore IDE-specific files and directories
.idea/
*.iml

# Ignore Git-related files and directories
.git/
*.lock

# Ignore temporary and build files
*.log
*.tmp
build/
dist/
target/

# Ignore compiled shared object files
*.so
.DS_Store